html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-width: 980px;
	background-position: center top;
	background-color: #ebf8fc;
}

.left {
	height: 650px;
	float: left;
	top: 0px;
	position: relative;
	margin-left: 22px;
	width: 180px;
	
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-size: 14px;
}

ul.tab_menu {
	border: 1px solid #c8c8c8;
	border-top: none;
	border-bottom: none;
	height: 33px;
	background: url(../images/left-top1.jpg) repeat-x;
	padding-top: 1px;
}

ul.tab_menu li {
	list-style: none;
	font-family: "微软雅黑";
	font-size: 15px;
	padding: 6px 23px;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.tab_box {
	border: 1px solid #c8c8c8;
	border-top: none;
	position: relative;
	
}

.tab_box ul {
	background: #f9f9fd;
}

.tab_box li {
	font-family: "微软雅黑";
	font-size: 14px;
	letter-spacing: 1px;
	border-bottom: 1px solid #c8c8c8;
}

.tab_box li a {
	text-decoration: none;
	color: #424343;
	display: block;
}


/*子导航的一级导航*/

.drop_menu li {
	list-style-type: none;
	position: relative;
	
}

.drop_menu li a {
	display: block;
	height: 37px;
	line-height: 37px;
	text-align: center;
}

.drop_menu li ul {
	display: none;
	
}

.right {
	float: left;
	padding-left: 20px;
	margin-bottom: 30px;
	width: 738px;
	position: relative;
	
}

.right-menu {
	height: 34px;
	background: url(../images/right-top.jpg) repeat-x;
}

.content {
	border: 1px solid #c8c8c8;
	border-top: none;
	background: #f9f9fd;
	position: relative;
	height: auto;
	
}

.hid {
	display: none;
}

.content-main {
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	
}

h1 {
	margin-top: 0px;
	font-family: "微软雅黑";
	font-size: 16px;
}

h2 {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	text-indent: 20px;
}

h3 {
	margin-bottom: 0px;
	font-family: "微软雅黑";
	font-size: 15px;
	text-indent: 25px;
	margin-top: 5px;
}

p {
	margin-top: 0px;
	font-family: "微软雅黑";
	font-size: 14px;
	text-indent: 28px;
	margin-bottom: 6px;
}

span {
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0px;
}

#footer {
	margin-top: 20px;
}
.and1 {
	text-align: center;
}
.pp{
	margin-top: 50px;
}
.xian{
	color: red;
}
.rumen li{
	list-style-type: disc;
	color: dimgray;
	text-indent: 10px;
}

#qh_con3 h2 {
	margin-top: 0px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
}

#qh_con3 h3 {}

.yangshi a {
	text-decoration: none;
	color: #606263;
	border: 1px solid #c8c8c8;
	font-size: 20px;
}

.yangshi4 {
	
	width: 500px;
	border: 1px solid #c8c8c8;
	font-size: 15px;
	margin-bottom: 20px;
	clear: both;
	display: block;
}

.yangshi4 h3 {
	margin: 25px 0 15px 15px;
}

.yangshi4 p {
	margin: 0 0 25px 15px;
}

.yangshi5 {
	
	width: 500px;
	border: 1px solid #c8c8c8;
	font-size: 15px;
	margin-bottom: 20px;
	clear: both;
	display: block;
}
.yangshi5 h3 ,.yangshi5 p{
	text-indent: 60px;
}


.yangshi5 h3 {
	margin: 20px 0 10px 10px;
}

.yangshi5 p {
	margin: 0 0 20px 10px;
}
.fangda{
	  -webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -transform:scale(1.5,1.5);
}
.pq{
	font-size: 16px;
}
